body{
    margin: 0;
    padding: 0;
    background-image: url(./images/back.svg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
}

img{
    width: 110px;
    margin-bottom: 20px;
}

.form{
    width: 90%;
    max-width: 300px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 70px;
}

.valid{
    border-color: green;
}
.invalid{
    border-color: red;
}
h2{
    margin-bottom: 20px;
}
label{
    display: inline-block;
    color: rgb(173, 0, 241);
    background: #fff;
    font-size: 12px;
    z-index: 1;
    position: relative;
    margin-left: 10px;
}

input{
    width: 100%;
    box-sizing: border-box;
    padding: 7px 5px;
    border: 2px solid rgb(173, 0, 241);
    border-radius: 10px;
    margin-top: -7px;
    margin-bottom: 15px;
    outline: none;
}

input[type="submit"]{
    width: 100%;
    padding: 7px 0;
    border-radius: 10px;
    border: 2px solid rgb(173, 0, 241);
    margin-top: 10px;
    color: rgb(173, 0, 241);
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 0;
}
input[type="submit"]:hover{
    background: rgb(173, 0, 241);
    color: #fff;
}

.sanding{
    display: none;
    flex-direction: column;
    align-items: center;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.loader div{
    width: 20px;
    height: 20px;
    background: rgb(173, 0, 241);
    border-radius: 20px;
    animation: dot 1s 0s linear infinite;
}

.loader div:nth-child(2) {
    animation: dot 1s 0.2s infinite;
}

.loader div:nth-child(3) {
    animation: dot 1s 0.5s infinite;
}

.loader div:nth-child(4) {
    animation: dot 1s 0.7s infinite;
}

.loader div:nth-child(5) {
    animation: dot 1s 0.9s infinite;
}

@keyframes dot {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.4;
    }
}

.send{
    display: none;
    flex-direction: column;
    align-items: center;
}
